
/*Iteration 2*/
.color-1 {
    color : red;
}

.color-2 {
    color : yellowgreen;
}

.images {
    width: 50px;
}


/*Iteration 3*/
.table {
    border-style : solid;
    border-width: 1px;
}

.red {
    color:red;
}