body{
    background-color: white;
}

.contour{
  
    border: 1px solid ;
    padding: 49px;
    width:100px;
    height:100px;

}
.target {
    background-color: red;
    border-style: dashed;
    height:100px;
    width:100px;
}